{% extends 'layout/front_office.html.twig' %}

{% block title %} 
	Facture #{{ bill.id }} 
{% endblock %}

{% block content %}
	<a href="{{ path('front_company_app_bill_index') }}" class="backToPrevious">
		<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 288 480 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-370.7 0 73.4-73.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-128 128z"/></svg>
	</a>
	<div class="flex">
		<h1 class="pageTitle">Facture #{{ bill.id }}</h1>
		<div class="px-6 py-4">
			<a href="{{ path('front_company_app_bill_pdf', {'guid': bill.guid}) }}">
				<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512">
					<path d="M192 272v-80a16 16 0 0 0-16-16h-32a16 16 0 0 0-16 16v80H24a24 24 0 0 0-24 24v128a24 24 0 0 0 24 24h336a24 24 0 0 0 24-24V296a24 24 0 0 0-24-24zM48 392a8 8 0 0 1-8-8v-96a8 8 0 0 1 8-8h72v112zm152-48a8 8 0 0 1 11.3 0l28.3 28.3V112a8 8 0 0 1 8-8h16a8 8 0 0 1 8 8v260.3l28.3-28.3a8 8 0 0 1 11.3 11.4l-48 48a8 8 0 0 1-11.3 0l-48-48a8 8 0 0 1 0-11.4z"/>
				</svg>
			</a>
		</div>
	</div>

	<table class="table w-full">
		<tbody class="text-left">
			<tr>
				<th>Montant</th>
				<td>{{ bill.amount }}
					€</td>
			</tr>
			{% if bill.isDownPayment %}
				<tr>
					<th>Type</th>
					<td>Acompte</td>
				</tr>
			{% endif %}
			<tr>
				<th>Status</th>
				<td>{{ bill.status }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{ bill.date ? bill.date|date('d/m/Y') : '' }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ bill.description }}</td>
			</tr>
			<tr>
				<th>Créée par</th>
				{# TODO: aller récup le nom du user de cet id #}
				<td>{{ createdBy.firstname }}
					{{ createdBy.lastname }}</td>
			</tr>
			<tr>
				<th>Créée le</th>
				<td>{{ bill.createdAt ? bill.createdAt|date('d/m/Y') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<h2 class="text-2xl font-bold my-5">Produits</h2>
	<table class="table-auto table w-full mb-10 divide-y divide-neutral-200">
		<thead class="text-left bg-neutral-200 dark:bg-neutral-500 dark:text-neutral-900">
			<tr>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Description</th>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Qté</th>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Unité</th>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Prix unitaire</th>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">TVA</th>
				<th class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Montant HT</th>
			</tr>
		</thead>
		<tbody class="bg-white divide-y divide-neutral-200 dark:bg-neutral-700 dark:text-neutral-200">
			{% for product in bill.quote.productsInfo %}
				<tr>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.description }}</td>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.quantity }}</td>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.unit }}</td>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.unitPrice }}
						€</td>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.tva }}
						%</td>
					<td class="px-6 py-3 text-sm text-left md:table-cell">{{ product.amount }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="flex my-3 space-x-3 ">
		{{ include('_components/front/global/_delete_form.html.twig',{
			'path': 'front_company_app_bill_delete',
			'type': 'guid',
			'id': bill.guid,
		})}}
	</div>
{% endblock %}
