<div class="relative my-6 overflow-x-auto ">
	<table class="w-full text-sm text-left text-neutral-500 rtl:text-right dark:text-neutral-400">
		<thead class="text-xs uppercase border-t border-b text-neutral-700 border-neutral-200 dark:border-neutral-400 bg-neutral-100 dark:bg-neutral-700 dark:text-neutral-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Company
				</th>
				<th scope="col" class="px-6 py-3">
					Adresse
				</th>
                <th scope="col" class="px-6 py-3">
					Téléphone
				</th>
                <th scope="col" class="px-6 py-3">
					Email
				</th>
				<th scope="col" class="px-6 py-3">
					Statut
				</th>
				<th scope="col" class="px-6 py-3"></th>
			</tr>
		</thead>
		<tbody>
			{% for company in companies %}
				<tr class="bg-white border-b hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:bg-neutral-800 dark:border-neutral-700">
					<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
						<span>{{ company.name }}</span>
					</th>
					<td class="px-6 py-4">
						{{ company.address }}
					</td>
					<td class="px-6 py-4">
						{{ company.phone }}
					</td>
                    <td class="px-6 py-4">
						{{ company.email }}
					</td>
					{% if company.isDeleted %}
						<td class="px-6 py-4 text-red-500">
							Inactif
						</td>
					{% else %}
						<td class="px-6 py-4 text-green-500">
							Actif
						</td>
					{% endif %}
					<td class="text-lg font-medium text-center dark:text-white">
						<button id="dropdownHoverCompany" data-dropdown-toggle="dropdownHoverCompany{{company.id}}" data-dropdown-trigger="click" class="p-3" type="button">
							<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun company trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Company Dropdown menu -->
{% for company in companies %}
	<div id="dropdownHoverCompany{{company.id}}" class="z-10 hidden bg-white divide-y rounded-lg shadow divide-neutral-100 w-44 dark:bg-neutral-700">
		<ul class="py-2 text-sm text-neutral-700 dark:text-neutral-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('back_app_company_show', {'id': company.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Détails</a>
			</li>
            <li>
                <a href="{{ path('back_app_company_edit', {'id': company.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Modifier</a>
            </li>
			{% if company.isDeleted %}
				<li>
					<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('back_app_company_enable', {'id': company.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir activer cette Company ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('enable' ~ company.id) }}">
						<button class="font-bold text-green-600 btn">Activer</button>
					</form>	
				</li>
			{% else %}
				<li>
					<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('back_app_company_delete', {'id': company.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cette Company ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.id) }}">
						<button class="font-bold text-red-600 btn">Supprimer</button>
					</form>	
				</li>
			{% endif %}
		</ul>
	</div>
{% endfor %}