<div class="relative my-6 overflow-x-auto ">
	<table class="w-full text-sm text-left text-neutral-500 rtl:text-right dark:text-neutral-400">
		<thead class="table-auto text-xs text-neutral-700 uppercase border-t border-b border-neutral-200 dark:border-neutral-400 bg-neutral-50 dark:bg-neutral-700 dark:text-neutral-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Catégorie
				</th>
				<th scope="col" class="px-6 py-3">
					Description
				</th>
				<th scope="col" class="mr-4 py-3 flex justify-end">
				</th>
			</tr>
		</thead>
		<tbody>
			{% for category in pagination %}
				<tr class="bg-white hover:bg-neutral-100 border-b dark:hover:bg-neutral-700 dark:bg-neutral-800 dark:border-neutral-700">
					<td class="px-6 py-4">
						{{ category.name }}
					</td>
					<td class="px-6 py-4">
						{{ category.description }}
					</td>
					<td class="text-lg text-center font-medium dark:text-white">
						<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHoverCategory{{category.id}}" data-dropdown-trigger="click" class="p-3" type="button">
							<i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucune catégorie trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ include('_components/front/global/_pagination.html.twig') }}
</div>

<!-- Category Dropdown menu -->
{% for category in pagination %}
	<div id="dropdownHoverCategory{{category.id}}" class="z-10 hidden bg-white divide-y divide-neutral-100 rounded-lg shadow w-44 dark:bg-neutral-700">
		<ul class="py-2 text-sm text-neutral-700 dark:text-neutral-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('front_company_app_category_show', {'id': category.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Détails</a>
			</li>
			<li>
				<a href="{{ path('front_company_app_category_edit', {'id': category.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Modifier</a>
			</li>
			<li>
				<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('front_company_app_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Êtes vous certain de vouloir supprimer cette catégorie ?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
					<button class="btn font-bold text-red-600">Supprimer</button>
				</form>	
			</li>
		</ul>
	</div>
{% endfor %}
