<div class="relative my-6 overflow-x-auto ">
	<table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase border-t border-b bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Client
				</th>
				<th scope="col" class="px-6 py-3">
					Devis
				</th>
				<th scope="col" class="px-6 py-3">
					Type
				</th>
				<th scope="col" class="px-6 py-3">
					Montant
				</th>
				<th scope="col" class="px-6 py-3">
					Statut
				</th>
				<th scope="col" class="px-6 py-3">PDF</th>
				<th scope="col" class="px-6 py-3"></th>

			</tr>
		</thead>
		<tbody>
			{% for bill in bills %}
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
						<a href="{{ path('front_company_app_bill_show', {'guid': bill.guid}) }}">{{ bill.client }}</a>
					</th>
					<td class="px-6 py-4">
						{{ bill.quote.id }}
					</td>
					<td class="px-6 py-4">
						{% if bill.isDownPayment %}
							Acompte
						{% endif %}
					</td>
					<td class="px-6 py-4">
						{{ bill.amount }}
						€
					</td>
					<td class="px-6 py-4">
						{{ bill.status }}
					</td>
					<td class="px-6 py-4">
						<a href="{{ path('front_company_app_bill_pdf', {'guid': bill.guid}) }}">
							<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512">
								<path d="M192 272v-80a16 16 0 0 0-16-16h-32a16 16 0 0 0-16 16v80H24a24 24 0 0 0-24 24v128a24 24 0 0 0 24 24h336a24 24 0 0 0 24-24V296a24 24 0 0 0-24-24zM48 392a8 8 0 0 1-8-8v-96a8 8 0 0 1 8-8h72v112zm152-48a8 8 0 0 1 11.3 0l28.3 28.3V112a8 8 0 0 1 8-8h16a8 8 0 0 1 8 8v260.3l28.3-28.3a8 8 0 0 1 11.3 11.4l-48 48a8 8 0 0 1-11.3 0l-48-48a8 8 0 0 1 0-11.4z"/>
							</svg>
						</a>
					</td>
					<td class="flex justify-end mr-4 text-lg font-medium dark:text-white">
						<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHoverBill{{bill.guid}}" data-dropdown-trigger="hover" class="p-3" type="button">
							<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 128 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"/></svg>
						</button>
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucune facture</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- bill Dropdown menu -->
{% for bill in bills %}
	<div id="dropdownHoverBill{{bill.guid}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
		<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('front_company_app_bill_show', {'guid': bill.guid}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Voir</a>
			</li>
			<li>
				{{ include('_components/front/global/_delete_form.html.twig',{
                    'path': 'front_company_app_bill_delete',
					'type': 'guid',
					'id': bill.guid,
                })}}
			</li>
		</ul>
	</div>
{% endfor %}
