{% extends 'base.html.twig' %}

{% block title %}Mes Devis
{% endblock %}

{% block body %}
	<main class="flex flex-col h-screen md:flex-row">
		{{ include('_components/front/global/_side_bar.html.twig') }}
		<section class="flex-grow px-5 pt-8 pl-8 overflow-x-hidden overflow-y-auto">
			<h1 class="pb-4 mb-10 text-4xl">Mes Devis</h1>
			{{ include('front/search/index.html.twig',
                {'buttonPath': 'front_company_app_quote_new',
                'label': 'Créer un devis',
            }) }}
			{% for error in errors %}
				{{ include('_components/front/global/_toast.html.twig', {
				'message' : error, 
				'state' : 'error'} ) }}
			{% endfor %}
			{% for succes in success %}
				{{ include('_components/front/global/_toast.html.twig', {
					'message' : succes, 
					'state' : 'sucess'} ) }}
			{% endfor %}
			{{ include('_components/front/quote/_table.html.twig', quotes) }}
		</section>
	</main>
{% endblock %}
