{% extends 'base.html.twig' %}

{% block title %}Devis #{{ quote.guid }}
{% endblock %}

{% block stylesheets %}
	<style>
		.container {
			margin: 0 auto;
			padding: 8px;
		}

		.section-title {
			font-size: 1.5rem;
			font-weight: bold;
		}

		.client-info {
			font-size: 1rem;
			color: #4a5568;
		}

		.table {
			width: 100%;
			border-collapse: collapse;
			margin-top: 2rem;
		}

		.table th,
		.table td {
			padding: 0.75rem;
			text-align: left;
		}

		.table th {
			background-color: #F8F8F8;
		}

		.table td {
			border-color: #cbd5e0;
			text-align: right;
		}

		.container-header {
			display: flex;
			justify-content: space-between;
		}
		.container-header > div {
			flex: 1;
			padding: 5px;
		}
		.left-column {
			text-align: left;
		}
		.right-column {
			text-align: right;
			margin-top: -10rem;
		}

		.table-header th,
		.table-body td {
			text-align: left;
		}

		.table-header th:last-child,
		.table-body td:last-child {
			text-align: right;
		}

		.table-total-amount {
			text-align: right;
			margin-top: 1rem;
			font-weight: bold;
		}

		.quote-info {
			margin-bottom: 1rem;
		}

		.flex {
			display: flex;
			justify-content: flex-end;
		}

		.table-container {
			max-width: 45%;
			margin-left: auto;
		}

		.custom-table {
			width: 100%;
			border-collapse: collapse;
		}

		.custom-table th,
		.custom-table td {
			padding: 0.5rem;
		}

		.text-left {
			text-align: left;
		}

		.text-right {
			text-align: right;
		}

		.border-bottom {
			border-bottom: 2px solid black;
		}
	</style>

{% endblock %}

{% block body %}
	<div class="container">
		<div
			class="container-header">
			<!-- Company Information -->
			<div class="left-column">
				<div class="section-title">{{ quote.company.name ?? '' }}</div>
				<div>{{ quote.company.address ?? '' }}</div>
				<div>{{ quote.company.email ?? '' }}</div>
			</div>

			<!-- Client Information -->
			<div class="right-column">
				<div class="section-title">
					{{ quote.client.firstName ?? '' }}
					{{ quote.client.lastName ?? '' }}
				</div>
				<div>{{ quote.client.address ?? '' }}
				</div>
				<div>
					{{ quote.client.email ?? '' }}
				</div>
			</div>
		</div>
		<!-- Quote Information -->
		<div style="margin-top: 5rem;">
			<h1 class="section-title">Devis #{{ quote.guid }}</h1>
			<div class="client-info">
				<div class="quote-info">
					Date :
					{{ quote.createdAt ? quote.createdAt|date('d/m/Y') : '' }}
				</div>

			</div>
			<!-- Products Information -->
			<div class="section">
				<table class="table">
					<thead class="table-header">
						<tr>
							<th>Description</th>
							<th>Quantité</th>
							{# <th>Unité</th> #}
							<th>Prix unitaire</th>
							<th>Montant HT</th>
						</tr>
					</thead>
					<tbody class="table-body">
						{% for product in quote.productsInfo ?? [] %}
							<tr>
								<td>{{ product.description }}</td>
								<td>{{ product.quantity }}</td>
								{# <td>{{ product.unit }}</td> #}
								<td>{{ product.unitPrice }}
									€</td>
								<td>{{ product.amount }}
									€</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="flex justify-end">
					<div class="table-container">
						<table class="custom-table">
							<tbody class="text-left">
								<tr>
									<th class="text-left">Montant HT</th>
									<td class="text-right">
										{{ ht_amount }} €
									</td>
								</tr>
								<tr>
									<th class="text-left">Montant TVA</th>
									<td class="text-right">
										{{ tva_amount }} € 
									</td>
								</tr>
								<tr class="border-bottom">
									<th class="text-left">TVA</th>
									<td class="text-right">
										{{ quote_tva }} %
									</td>
								</tr>
								<tr>
									<th class="text-left">Montant TTC</th>
									<td class="text-right">
										{{ total_amount }} €
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
