{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Devis
{% endblock %}

{% block content %}
	<a href="{{ path('front_company_app_quote_index') }}" class="backToPrevious">
        <i class="fa-solid fa-arrow-left text-2xl"></i>
	</a>    
	
	<div class="flex">
		<h1 class="pageTitle">
			Devis #{{ quote.guid }} 
		</h1>
		<div class="ml-3 mt-2">
			<a href="{{ path('front_company_app_quote_pdf', {'guid': quote.guid}) }}">
				<i class="fa-solid fa-download text-2xl"></i>
			</a>
		</div>
	</div>
	
	<table class="table w-9/12 table-auto md:w-3/12">
		<tbody class="text-left">
			<tr>
				<th>Client</th>
				<td>{{quote.client.displayName}}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ quote.status }}</td>
			</tr>
			{% if quote.downPayment %}
				<tr>
					<th>Acompte</th>
					<td>{{quote.downPayment}} %</td>
				</tr>
			{% endif %}
			<tr>
				<th>Date</th>
				<td>{{ quote.date ? quote.date|date('d/m/Y') : '' }}</td>
			</tr>
			<tr>
				<th>Créée le</th>
				<td>{{ quote.createdAt ? quote.createdAt|date('d/m/Y') : '' }}</td>
			</tr>
			<tr>
				<th>Créée par</th>
				<td>{{ created_by.name }}</td>
			</tr>
		</tbody>
	</table>
	<h2 class="my-5 text-2xl font-bold">Produits</h2>
	<div class="overflow-x-auto">
		<div class="overflow-hidden border-b border-solid shadow border-neutral-400">
			<table class="min-w-full divide-y table-auto divide-neutral-200">
				<thead class="bg-neutral-200 dark:bg-neutral-500 dark:text-neutral-900">
					<tr>
						<th scope="col" class="px-6 py-3 text-sm font-bold tracking-wider text-left uppercase">Produit</th>
						<th scope="col" class="hidden px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Quantité</th>
						<th scope="col" class="hidden px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Prix unitaire</th>
						<th scope="col" class="hidden px-6 py-3 text-sm font-bold tracking-wider text-left uppercase md:table-cell">Montant HT</th>
					</tr>
				</thead>
				<tbody class="bg-white divide-y divide-neutral-200 dark:bg-neutral-700">
					{% for product in quote.productsInfo %}
						<tr>
							<td class="px-6 py-4 whitespace-nowrap text-neutral-700 dark:text-neutral-200">
								<div class="text-sm">{{ product.description }}</div>
								<div class="text-sm md:hidden">
									Quantité : {{ product.quantity }}
								</div>
								<div class="text-sm md:hidden">
									Prix unitaire: {{ product.unitPrice }} €
								</div>
								<div class="text-sm md:hidden">Montant HT :
									{{ product.amount }} €
								</div>
							</td>
							<td class="hidden px-6 py-4 whitespace-nowrap md:table-cell">
								<div class="text-sm">{{ product.quantity }}</div>
							</td>
							<td class="hidden px-6 py-4 whitespace-nowrap md:table-cell">
								<div class="text-sm">{{ product.unitPrice }} €</div>
							</td>
							<td class="hidden px-6 py-4 whitespace-nowrap md:table-cell">
								<div class="text-sm">{{ product.amount }} €</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="flex justify-end">
		<table class="table w-9/12 mt-4 table-auto md:w-2/12">
			<tbody class="text-left">
				<tr>
					<th>Montant HT</th>
					<td class="text-right">
						{{ht_amount}} €
					</td>
				</tr>
				<tr>
					<th>Montant TVA</th>
					<td class="text-right">
						{{ tva_amount }} € 
					</td>
				</tr>
				<tr class="border-b-2 border-black border-solid">
					<th>TVA</th>
					<td class="text-right">
						{{quote_tva}} %
					</td>
				</tr>
				<tr>
					<th>Montant TTC</th>
					<td class="text-right">
						{{ total_amount }} €
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="inline-flex flex-wrap justify-center my-3 space-y-3 md:justify-end md:items-center md:space-y-0 md:space-x-3">
		{% if quote.status == 'brouillon' %}
			<a href="{{ path('front_company_app_quote_edit', {'guid': quote.guid}) }}">
				<button type="button" class="primaryButton">Modifier</button>
			</a>
			{{ include('_components/front/global/_delete_form.html.twig',{
				'path': 'front_company_app_quote_delete',
				'type': 'guid',
				'id': quote.guid,
			})}}
		{% endif %}
	</div>
{% endblock %}