<div class="flex items-center">
	<div class="container w-full mx-auto text-gray-400">
		{{ form_start(form, {'attr': {'class': 'w-3/4 mx-auto'}}) }}
            <div class="grid gap-8 mx-auto mb-4 input-container md:w-3/5 lg:w-2/4">
                <h1 class="pb-4 text-4xl text-black">
                    {{ title }}
                </h1>
                {{ form_row(form.name, {
                    label: 'Nom',
                    row_attr: {"class": "client-row-attr"},
                    attr: {"class": "client-form-attr"}
                }) }}
                {% if form_errors(form.name) %}
                    <div class="text-red-500">
                        {{ form_errors(form.name) }}
                    </div>
                {% endif %}
                {{ form_row(form.description, {
                    label: 'Description',
                    row_attr: {"class": "client-row-attr"},
                    attr: {"class": "client-form-attr"}
                }) }}
                {% if form_errors(form.description) %}
                    <div class="text-red-500">
                        {{ form_errors(form.description) }}
                    </div>
                {% endif %}
                {{ form_row(form.price, {
                    label: 'Price',
                    row_attr: {"class": "client-row-attr"},
                    attr: {"class": "client-form-attr"}
                }) }}
                {% if form_errors(form.price) %}
                    <div class="text-red-500">
                        {{ form_errors(form.price) }}
                    </div>
                {% endif %}
                {{ form_row(form.category, {
                    label: 'Catégorie',
                    row_attr: {"class": "client-row-attr"},
                    attr: {"class": "client-form-attr"}
                }) }}
                {% if form_errors(form.category) %}
                    <div class="text-red-500">
                        {{ form_errors(form.category) }}
                    </div>
                {% endif %}
                {{ form_row(form.imageFile, {
                    label: 'Image',
                    row_attr: {"class": "client-row-attr"},
                    attr: {"class": "client-form-attr"}
                }) }}
                {% if form_errors(form.imageFile) %}
                    <div class="text-red-500">
                        {{ form_errors(form.imageFile) }}
                    </div>
                {% endif %}
                

            </div>

            <div class="col-span-2 text-center">
                <button type="submit" class="w-48 px-6 py-3 font-bold text-black rounded bg-amberYellow">
                    {{ button_label }}
                </button>
                <a href="{{ path('front_company_app_product_index')}}" class="w-48 px-6 py-3 font-bold text-black rounded bg-redButton ">
                    Annulé
                </a>
            </div>
		{{ form_end(form) }}
	</div>
</div>
