{% extends 'layout/front_office.html.twig' %}

{% block title %}
	Tableau de bord
{% endblock %}

{% block content %}
	<h1 class="pageTitle">Tableau de bord</h1>
	<div>
		<div class="grid grid-cols-4 gap-3 mb-2">
			<dl class="bg-orange-50 dark:bg-neutral-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
				<dt class="flex items-center justify-center w-8 h-8 mb-1 text-sm font-medium text-orange-600 bg-orange-100 rounded-full dark:bg-neutral-500 dark:text-orange-300">{{data.totalClients ?? 0}}</dt>
				<dd class="text-sm font-medium text-orange-600 dark:text-orange-300">Les clients</dd>
			</dl>
			<dl class="bg-teal-50 dark:bg-neutral-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
				<dt class="flex items-center justify-center w-8 h-8 mb-1 text-sm font-medium text-teal-600 bg-teal-100 rounded-full dark:bg-neutral-500 dark:text-teal-300">{{data.totalQuotes ?? 0}}</dt>
				<dd class="text-sm font-medium text-teal-600 dark:text-teal-300">Les devis</dd>
			</dl>
			<dl class="bg-blue-50 dark:bg-neutral-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
				<dt class="flex items-center justify-center w-8 h-8 mb-1 text-sm font-medium text-blue-600 bg-blue-100 rounded-full dark:bg-neutral-500 dark:text-blue-300">{{data.totalBills ?? 0}}</dt>
				<dd class="text-sm font-medium text-blue-600 dark:text-blue-300">Les factures</dd>
			</dl>
			<dl class="bg-purple-50 dark:bg-neutral-600 rounded-lg flex flex-col items-center justify-center h-[78px]">
				<dt class="flex items-center justify-center w-8 h-8 mb-1 text-sm font-medium text-purple-600 bg-purple-100 rounded-full dark:bg-neutral-500 dark:text-purple-300">{{data.totalUnpaidBills ?? 0}}</dt>
				<dd class="text-sm font-medium text-purple-600 dark:text-purple-">Les factures impayées</dd>
			</dl>
		</div>
	</div>
	<div class="mt-8">
		<div class="grid grid-cols-3 gap-16">
			<dl class="flex flex-col items-center justify-center rounded-lg">
				{{ render_chart(barChart) }}
			</dl>
			<dl class="flex flex-col items-center justify-center rounded-lg ">
				{{ render_chart(lineChart) }}
			</dl>
			<dl class="flex flex-col items-center justify-center rounded-lg">
				<div class="w-80">
					{{ render_chart(doughnutChart) }}
				</div>
			</dl>
		</div>
	</div>

	{{ include('_components/front/company/_table.html.twig',{ clientsInteractions : data.clientsInteractions }) }}
{% endblock %}
