{% extends 'public_base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="flex items-center min-h-screen md:grid md:grid-cols-2">
	
	{{ include('_components/public/_left_picture.html.twig', {'picture': 'images/left_base_reset_password_picture.jpeg'}) }}
	
	<div class="container w-full mx-auto">

		{{ include('_components/public/_logo_banner.html.twig') }}

		<div class="flex w-3/4 mx-auto mb-4 text-gray-400 justify-evenly md:w-3/5 lg:w-2/4">
			<a href="{{ path('app_login') }}"><h1 class="mb-3 border-b border-solid border-b-transparent h3 font-weight-normal hover:border-b-orange-300 hover:text-black">Se connecter</h1></a>
			<a href="{{ path('public_app_register') }}"><h1 class="mb-3 border-b border-solid border-b-transparent h3 font-weight-normal hover:border-b-orange-300 hover:text-black">S'enregistrer</h1></a>
		</div>

		{{ form_errors(resetPasswordForm) }}
		
		{{ form_start(resetPasswordForm, {'attr': {'class': 'w-3/4 mx-auto'}}) }}

		<div class="grid gap-8 mx-auto mb-4 input-container md:w-3/5 lg:w-2/4">

			{{ form_row(resetPasswordForm.email, {
				label: 'Email du compte',
				row_attr: {"class": "inline-grid"},
				attr: {"class": "w-full h-10 px-4 mt-1 border rounded form-control required"}
			}) }}
		
		</div>

		<div class="col-span-2 text-center">
			<button type="submit" class="px-6 py-3 font-bold text-black rounded w-60 md:w-72 bg-amberYellow">Réinitialiser le mot de passe</button>
		</div>

		{{ form_end(resetPasswordForm) }}
	</div>
		
	
</div>
{% endblock %}