<div class="relative my-6 overflow-x-auto ">
	<table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase border-t border-b bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Name
				</th>
				<th scope="col" class="px-6 py-3">
					Email
				</th>
				<th scope="col" class="px-6 py-3">
					Téléphone
				</th>
				<th scope="col" class="px-6 py-3">
					Adresse
				</th>
				<th scope="col" class="px-6 py-3">
					updatedAt
				</th>
				<th scope="col" class="px-6 py-3"></th>
			</tr>
		</thead>
		<tbody>
			{% for client in pagination %}
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
						<a href="{{ path('front_company_app_client_show', {'id': client.id}) }}">{{ client.name }}</a>
					</th>
					<td class="px-6 py-4">
						{{ client.email }}
					</td>
					<td class="px-6 py-4">
						{{ client.phone }}
					</td>
					<td class="px-6 py-4">
						{{ client.address }}{{client.id}}
					</td>
					<td class="px-6 py-4">
						{{ client.updatedAt ? client.updatedAt|date('Y-m-d H:i:s') : '' }}
					</td>
					<td class="flex justify-end mr-4 text-lg font-medium dark:text-white">
						<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHoverClient{{client.id}}" data-dropdown-trigger="hover" class="" type="button">...
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun client trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ include('_components/front/global/_pagination.html.twig') }}
</div>

<!-- Client Dropdown menu -->
{% for client in pagination %}
	<div id="dropdownHoverClient{{client.id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
		<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('front_company_app_client_show', {'id': client.id}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Détails</a>
			</li>
			<li>
				<a href="{{ path('front_company_app_client_edit', {'id': client.id}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Modifier</a>
			</li>
			<li>
				{{ include('_components/front/client/_delete_form.html.twig', {'clientId': client.id}) }}
			</li>
		</ul>
	</div>
{% endfor %}
