<div class="relative my-6 overflow-x-auto ">
	<table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
		<thead class="text-xs text-gray-700 uppercase border-t border-b bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Client
				</th>
				<th scope="col" class="px-6 py-3">
					Montant
				</th>
				<th scope="col" class="px-6 py-3">
					Acompte
				</th>
				<th scope="col" class="px-6 py-3">
					Statut
				</th>
				<th scope="col" class="px-6 py-3">
					Date
				</th>
				<th scope="col" class="px-6 py-3">PDF</th>
				<th scope="col" class="px-6 py-3"></th>
			</tr>
		</thead>
		<tbody>
			{% for quote in quotes %}
				<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
					<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
						<a href="{{ path('front_company_app_client_show', {'slug': quote.client.slug}) }}">{{ quote.client.displayName }}</a>
					</th>
					<td class="px-6 py-4">
						{{ quote.amount }}
						€
					</td>
					<td class="px-6 py-4">
						{% if quote.downPayment %}
							{{ quote.downPayment}}
							%
						{% else %}
							Aucun
						{% endif %}
					</td>
					<td class="px-6 py-4">
						{{ quote.status }}
					</td>
					<td class="px-6 py-4">
						{{ quote.date ? quote.date|date('d/m/Y H:i') : '' }}
					</td>
					<td class="px-6 py-4">
						<a href="{{ path('front_company_app_quote_pdf', {'id': quote.id}) }}">
							<svg class="w-6 h-6" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 384 512">
								<path d="M192 272v-80a16 16 0 0 0-16-16h-32a16 16 0 0 0-16 16v80H24a24 24 0 0 0-24 24v128a24 24 0 0 0 24 24h336a24 24 0 0 0 24-24V296a24 24 0 0 0-24-24zM48 392a8 8 0 0 1-8-8v-96a8 8 0 0 1 8-8h72v112zm152-48a8 8 0 0 1 11.3 0l28.3 28.3V112a8 8 0 0 1 8-8h16a8 8 0 0 1 8 8v260.3l28.3-28.3a8 8 0 0 1 11.3 11.4l-48 48a8 8 0 0 1-11.3 0l-48-48a8 8 0 0 1 0-11.4z"/>
							</svg>
						</a>
					</td>
					<td class="flex justify-end mr-4 text-lg font-medium dark:text-white">
						<button id="dropdownHoverButton" data-dropdown-toggle="dropdownHoverClient{{quote.id}}" data-dropdown-trigger="hover" class="" type="button">...</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun devis trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Client Dropdown menu -->
{% for quote in quotes %}
	<div id="dropdownHoverClient{{quote.id}}" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
		<ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('front_company_app_quote_show', {'id': quote.id}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Détails</a>
			</li>
			{% if quote.status == 'brouillon' %}
				<li>
					<a href="{{ path('front_company_app_quote_edit', {'id': quote.id}) }}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Modifier</a>
				</li>
				<li>
					{{ include('_components/front/quote/_delete_form.html.twig', {'quoteId': quote.id}) }}
				</li>
			{% endif %}
		</ul>
	</div>
{% endfor %}
