{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1>User</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>FirstName</th>
				<td>{{ user.firstName }}</td>
			</tr>
			<tr>
				<th>LastName</th>
				<td>{{ user.lastName }}</td>
			</tr>
			<tr>
				<th>DisplayName</th>
				<td>{{ user.displayName }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
		</tbody>
	</table>

	<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="">

	<a href="{{ path('back_app_user_index') }}">back to list</a>

	<a href="{{ path('back_app_user_edit', {'id': user.id}) }}">edit</a>
{% endblock %}
