<div
	class="flex w-full">

	{# Filter Form #}
	<div>
		{{ form_start(filterForm, {'attr': {'id': 'filter-select'}})}}
		{{ form_end(filterForm) }}
	</div>

	{# SearchBar form #}
	<div class="flex-auto">
		{{ form_start(searchForm)}}
		<div class="relative w-full">
			{{ form_widget(searchForm.search) }}
			<button type="submit" class="absolute top-0 end-1 p-2.5 text-sm font-medium h-full text-neutral-500 dark:text-neutral-700">
				<svg class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
				<span class="sr-only">Rechercher</span>
			</button>
		</div>

		{% if form_errors(searchForm.search) %}
			<div class="mt-1 text-xs text-red-500">{{ form_errors(searchForm.search) }}</div>
		{% endif %}
		{{ form_end(searchForm) }}
	</div>
</div>

{# Get Selected option value #}
<script>
	document.addEventListener('DOMContentLoaded', function () {
		let elementId;
		const elementName = document.getElementById('filter-select').name;

		// Add here more tuple in case we add another filters
		const elements = [
			['status_filter', 'status_filter_status'],
			['category_filter', 'category_filter_category'],
			['bill_filter', 'bill_filter_status'],
			['quote_filter', 'quote_filter_status'],
			['admin_filter', 'admin_filter_status']
		];

		elements.forEach(tuple => {
			if (tuple[0] === elementName) {
				elementId = tuple[1];
			}
		});

		console.log('test', elementName);

		const selectStatus = document.getElementById(elementId);
		selectStatus.addEventListener('change', function () {
			document.getElementById('filter-select').submit();
		});
	});
</script>
