{% if app.request.attributes.get('_route_params') is empty %}
    {% set currentPath = path(app.request.attributes.get('_route')) %}
{% else %}
    {% set currentPath = null %}
{% endif %}
{% set logoutPath     	= path('app_logout') 								%}

{# company related links #}
{% set dashbordPath   		= path('back_app_dashboard') 				%}
{% set companyPath    		= path('back_app_company_index') 			%}
{% set userPath   	  		= path('back_app_user_index') 				%}
{% set companyViewPath    	= path('front_company_app_dashboard') 		%}
{% set accountantViewPath 	= path('front_accountant_app_dashboard')	%}
{% set settingsPath   	    = path('back_app_profile_index')		 	%}

{% set adminNavItems   	= [
	{ title: 'Tableau de bord', 	icon: 'fa-solid fa-house', 			path: dashbordPath },
	{ title: 'Entreprises', 		icon: 'fa-solid fa-briefcase', 		path: companyPath },
	{ title: 'Profils', 			icon: 'fa-solid fa-user', 			path: userPath },
	{ title: 'Vue Comptable', 		icon: 'fa-solid fa-chart-column', 	path: accountantViewPath },
	{ title: 'Vue Entreprise', 		icon: 'fa-solid fa-briefcase', 		path: companyViewPath },
]%}

{% block body %}
	{% if is_granted('ROLE_ADMIN') %}
		<!-- desktop drawer -->
		<div class="hidden h-screen overflow-y-auto md:block lg:w-80 bg-neutral-950 text-neutral-300">
			<div class="overflow-y-auto font-medium">
				<div class="flex items-center mx-6 my-6">
					<img class="object-cover w-16 h-16 rounded-full outline outline-offset-4" src="{{ vich_uploader_asset(app.user, 'imageFile') ? vich_uploader_asset(app.user, 'imageFile') : '/images/default_pp.png'}}" alt="{{ app.user.firstname }}picture">
					<p class="text-lg font-bold ml-6 mt-0.5 whitespace-nowrap text-ellipsis">{{ app.user.displayName }}</p>
				</div>
				<div class="inline-flex w-full px-4 mb-6 space-x-4">
					<a href="{{ settingsPath }}" class="flex items-center w-1/2 px-3 py-2 text-neutral-300 hover:text-neutral-700 bg-neutral-700 rounded-xl hover:bg-neutral-200 group">
						<i class="text-sm fa-solid fa-gear"></i>
						<p class="ml-2 whitespace-nowrap">Paramètres</p>
					</a>
					<a href="{{ logoutPath }}" class="flex items-center w-1/2 px-3 py-2 text-neutral-700 outline outline-neutral-700 hover:outline-none -outline-offset-2 rounded-xl hover:bg-neutral-200 group">
						<i class="text-sm fa-solid fa-right-from-bracket"></i>
						<p class="ml-2 whitespace-nowrap">Déconnexion</p>
					</a>
				</div>
				<ul class="space-y-2 overflow-auto">
				{% for navItem in adminNavItems %}
					<li>
						<a 	href="{{ navItem.path }}" 
							class="flex items-center p-2.5 mx-4 rounded-xl group
							{{ currentPath == navItem.path ? 'bg-neutral-700 text-neutral-300' : 'hover:bg-neutral-800 hover:text-neutral-300 ' }}">
							<i class="{{ navItem.icon }} text-2xl"></i>
							<p class="ms-4 whitespace-nowrap">{{ navItem.title }}</p>
						</a>
					</li>
				{% endfor %}
			</div>
		</div>

		<!-- burger nav mobile -->
		<aside class="relative flex justify-center flex-shrink-0 h-12 text-neutral-300 md:hidden bg-neutral-950">
			<button id="drawer-navigation-button" class="absolute right-0" type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation" aria-controls="drawer-navigation">
				<i class="mt-2 mr-4 text-2xl fa-solid fa-bars"></i>
			</button>
		</aside>

		<!-- mobile drawer -->
		<div id="drawer-navigation" class="fixed top-0 left-0 z-40 w-full h-screen overflow-y-auto transition-transform -translate-x-full lg:w-80 bg-neutral-950 text-neutral-300" tabindex="-1" aria-labelledby="drawer-navigation-label">
			<div class="inline-flex justify-end w-full h-12 p-3 lg:h-auto lg:justify-between">
				<p id="drawer-navigation-label" class="hidden text-xl font-bold lg:block">ClickBill Admin</p>
				<button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="inline-flex items-center text-sm bg-transparent">
					<i class="block mr-1 text-2xl fa-solid fa-xmark lg:hidden"></i>
				</button>
			</div>

			<div class="overflow-y-auto font-medium">
				<div class="flex items-center mx-6 my-3">
					<img class="object-cover w-16 h-16 rounded-full outline outline-offset-4" src="{{ vich_uploader_asset(app.user, 'imageFile') ? vich_uploader_asset(app.user, 'imageFile') : '/images/default_pp.png' }}" alt="{{ app.user.firstname }}picture">
					<p class="text-lg font-bold ml-6 mt-0.5 whitespace-nowrap text-ellipsis">{{ app.user.displayName }}</p>
				</div>
				
				<div class="inline-flex w-full px-4 my-3 space-x-4">
					<a href="{{ settingsPath }}" class="flex items-center w-1/2 px-3 py-2 text-neutral-300 hover:text-neutral-700 bg-neutral-700 rounded-xl hover:bg-neutral-200 group">
						<i class="text-sm fa-solid fa-gear"></i>
						<p class="ml-2 text-sm whitespace-nowrap">Paramètres</p>
					</a>
					<a href="{{ logoutPath }}" class="flex items-center w-1/2 px-3 py-2 outline outline-neutral-700 hover:outline-none -outline-offset-2 rounded-xl hover:bg-neutral-200 group">
						<i class="text-sm fa-solid fa-right-from-bracket"></i>
						<p class="ml-2 text-sm whitespace-nowrap text-neutral-700">Déconnexion</p>
					</a>
				</div>
			</div>

			<!-- navItems -->
			<div class="flex-grow pb-4 overflow-auto">
				<ul class="space-y-2 overflow-auto">
					{% for navItem in adminNavItems %}
						<li>
							<a 	href="{{ navItem.path }}" 
								class="flex items-center p-2.5 mx-4 rounded-xl hover:bg-gray-200 group dark:hover:bg-neutral-800 dark:hover:text-neutral-300
								{{ currentPath == navItem.path ? 'bg-neutral-700 text-neutral-300 hover:bg-neutral-700 hover:text-neutral-300' : '' }}">
								<i class="{{ navItem.icon }} w-10 text-center text-2xl"></i>
								<p class="ms-4 whitespace-nowrap">{{ navItem.title }}</p>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
{% endblock %}