<div class="relative my-6 overflow-x-auto ">
	<table class="table-auto w-full text-sm text-left text-neutral-500 rtl:text-right dark:text-neutral-400">
		<thead class="text-xs uppercase border-t border-b text-neutral-700 border-neutral-200 dark:border-neutral-400 bg-neutral-100 dark:bg-neutral-700 dark:text-neutral-400">
			<tr>
				<th scope="col" class="px-6 py-3">
					Nom
				</th>
				<th scope="col" class="px-6 py-3">
					Email
				</th>
                <th scope="col" class="px-6 py-3">
					Role
				</th>
                <th scope="col" class="px-6 py-3">
					Company
				</th>
				<th scope="col" class="px-6 py-3">
					Statut
				</th>
				<th scope="col" class="px-6 py-3"></th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				{% if 'ROLE_ADMIN' in user.roles %}
					{% set highestRole = 'Admin' %}
				{% elseif 'ROLE_COMPANY' in user.roles %}
					{% set highestRole = 'Entreprise' %}
				{% elseif 'ROLE_ACCOUNTANT' in user.roles %}
					{% set highestRole = 'Comptable' %}
				{% else %}
					{% set highestRole = 'Aucun' %}
				{% endif %}
				<tr class="bg-white border-b hover:bg-neutral-100 dark:hover:bg-neutral-700 dark:bg-neutral-800 dark:border-neutral-700">
					<th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-white">
						<span>{{ user.displayName }}</span>
					</th>
					<td class="px-6 py-4">
						{{ user.email }}
					</td>
					<td class="px-6 py-4">
						{{ highestRole }}
					</td>
                    <td class="px-6 py-4">
						{{ user.company }}
					</td>
					{% if user.isDeleted %}
						<td class="px-6 py-4 text-red-500">
							Inactif
						</td>
					{% else %}
						<td class="px-6 py-4 text-green-500">
							Actif
						</td>
					{% endif %}
					<td class="text-lg font-medium text-center dark:text-white">
						<button id="dropdownHoverUser" data-dropdown-toggle="dropdownHoverUser{{user.id}}" data-dropdown-trigger="click" class="p-3" type="button">
							<i class="fa-solid fa-ellipsis-vertical text-2xl"></i>
						</button>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">Aucun utilisateur trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<!-- Company Dropdown menu -->
{% for user in users %}
	<div id="dropdownHoverUser{{user.id}}" class="z-10 hidden bg-white divide-y rounded-lg shadow divide-neutral-100 w-44 dark:bg-neutral-700">
		<ul class="py-2 text-sm text-neutral-700 dark:text-neutral-200" aria-labelledby="dropdownHoverButton">
			<li>
				<a href="{{ path('back_app_user_show', {'id': user.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Détails</a>
			</li>
            <li>
                <a href="{{ path('back_app_user_edit', {'id': user.id}) }}" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white">Modifier</a>
            </li>
			{% if user.isDeleted %}
				<li>
					<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('back_app_user_enable', {'id': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir réactiver cet utilisateur ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('enable' ~ user.id) }}">
						<button class="font-bold text-green-600 btn">Activer</button>
					</form>	
				</li>
			{% else %}
				<li>
					<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('back_app_user_send_mail', {'id': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir envoyer un mail de connexion à cet utilisateur ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('send_mail' ~ user.id) }}">
						<button class="font-bold btn">Mail de connexion</button>
					</form>	
				</li>
				<li>
					<form method="post" class="block px-4 py-2 hover:bg-neutral-100 dark:hover:bg-neutral-600 dark:hover:text-white" action="{{ path('back_app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer cet utilisateur ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
						<button class="font-bold text-red-600 btn">Supprimer</button>
					</form>	
				</li>
			{% endif %}
		</ul>
	</div>
{% endfor %}