{% extends 'base.html.twig' %}

{% block title %}
    Produits
{% endblock %}

{% block body %}
	<main class="flex flex-col h-screen md:flex-row">
        {{ include('_components/front/global/_side_bar.html.twig') }}
        <section class="flex-grow px-8 pt-8 overflow-x-hidden overflow-y-auto">
            <div>
                <h1 class="mb-10 text-4xl font-bold">
                    Prestations &amp; Produits
                </h1>
                <a href="{{ path(buttonPath)}}">
                    <button type="button" class="ml-2 w-30 flex-none text-black bg-amberYellow hover:bg-yellow-500 focus:bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2 dark:focus:ring-yellow-900">
                        {{buttonLabel}}
                    </button>
	            </a>
            </div>
            {{ include('_components/front/global/_search_bar2.html.twig', products) }}
            {{ include('_components/front/product/_table.html.twig') }}
        </section>
    </main>
{% endblock %}